################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PXTAM/obj
/Invexaaa/.config
/Invexaaa/bin
/Invexaaa/obj
