################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PXTAM/obj
/Invexa/.config
/Invexa/bin
/Invexa/obj
