@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <h2>Confirm Logout</h2>
    <p>You will be signed out from Invexa.</p>

    <form asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Logout</button>
        <a href="~/" class="btn btn-secondary">Cancel</a>
    </form>
</div>
